@import '../../style.sass'

.editor 
  position: absolute
  width: 80%
  left: 0
  margin: 0 auto
  margin-top: 10px
  form
    position: relative
    textarea
      width: 100%
      min-height: 120px
      overflow: hidden
      border-radius: 5px
      border: none
      color: $text-color
      padding: 10px
      outline: 0
      resize: none
      background: $surface-color
      caret-color: $text-color
      &:focus
        border: 1px solid $primary-color
    .button
      position: absolute
      color: $primary-color
      top: 40px
      right: 10px
      transform: translateY(-50%)
  .editor__nav
    display: flex
    margin-top: -40px
    margin-left: 10px
    .select
      padding: 0 10px
      background: $background-color
    &>*
      margin: 0 10px 0 0
      &:hover 
        filter: brightness(110%)
    .editor__time
      background: $background-color
      font-weight: 500
      color: $primary-color
      display: flex
      align-items: center
      justify-content: center
      &>*
        margin: 2px 10px
    
@media all and (max-width: 720px)
  .editor
    position: relative
    width: 100%
