@import '../../style.sass'
.loading
  position: fixed
  left: 0
  top: 0
  +size(100%, 100%)
  z-index: 10
  background: rgba($background-color, .5)
  &:after 
    content: ' '
    position: absolute
    +size(100px, 100px)
    border-radius: 50%
    background: $primary-color
    left: 50%
    top: 50%
    animation: process 1s infinite

@keyframes process
  0%
    transform: translate(-50%, -50%) scale(1)
  50%
    transform: translate(-50%, -50%) scale(1.5)
  100%
    transform: translate(-50%, -50%) scale(1)