@import '../../style.sass'
.course__info
  padding: 0 20px
  .info
    &>*
      color: $text-color
    .info__tag
      color: $background-color
      background: $secondary-color
      margin-left: 5px 
      padding: 3px 5px
      border-radius: 2px
      &.isFinish
        background: $primary-color
        color: $text-color
    .info__time
      color: rgba($text-color, .5)
    .info__description
      display: flex
      align-items: center
  button
    border-radius: 5px

.share
  .share__input
    display: flex
    input
      width: 70%
      margin: 0
      border-radius: 0
      border-bottom: 2px solid $text-color
      margin-bottom: 2px
    button
      background: $primary-color
      border: none
      color: $text-color
      margin-left: 5px
  h4
    color: $text-color
    font-size: $sub
  ul
    padding: 0
    margin: 0
  .share__tag
    display: inline-block
    list-style: none
    background: $background-color 
    padding: 3px 10px
    border-radius: 5px
    color: $text-color
    margin: 5px
    &:hover
      background: rgba($background-color, .5)
    &.isChecked
      background: $primary-color
    i
      vertical-align: middle
      font-size: 14px
  input[type=checkbox]
    visibility: hidden
    +size(0,0)

.comments__export
  position: absolute
  right: -50px
  z-index: 1
  outline: 0px
  overflow: hidden
  background: $surface-color
  border: none
  resize: none
  width: 1px
  height: 1px
  -webkit-appearance: none
  box-shadow: none
.nav__search
  width: 100%
  input[type=text].input-text
    width: 100%
    border-radius: 0
    border-bottom: 2px solid $primary-color
    caret-color: $primary-color
    &::-webkit-input-placeholder
      color: rgba($primary-color, .5)
.comments 
  +size(30%, 100%)
  position: fixed
  right: 0
  top: 50px
  background: $surface-color
  .select
    border-bottom: 1px solid $primary-color
    margin-left: 10px
  .board__now
    position: absolute
    z-index: 5
    bottom: 100px
    left: 50%
    transform: translate(-50%)
    background: $primary-color
    box-shadow: inset hoff voff blur #000
    display: flex
    justify-content: center
    align-items: center
    padding: 10px
    text-align: center
    border-radius: 5px
    box-shadow: 1px 1px 8px rgba($primary-color, .2)
.comments__board
  +size(100%, 90%)
  overflow: scroll
  &::-webkit-scrollbar 
    width: 8px
  &::-webkit-scrollbar-track 
    -webkit-border-radius: 10px
    border-radius: 10px
    // margin: 80px 0 5px 
  &::-webkit-scrollbar-thumb 
    -webkit-border-radius: 4px
    border-radius: 4px
    background: $background-color
  .comments__add
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    i
      font-size: 32px
    & * 
      color: $text-color
.comments__nav
  display: flex
  justify-content: space-between
  padding: 10px
  height: 50px
  border-bottom: 1px solid $background-color
  & *
    color: $text-color
    font-size: 20px
    align-items: center
  &>*
    display: flex
  .nav__right
    display: flex
    position: relative



.comment
  +size(100%, auto)
  border-bottom: 1px solid $background-color
  padding: 15px
  background: $surface-color
  &:hover 
    filter: brightness(150%)
    cursor: pointer
  &.activeTime
    border-left: 2px solid $primary-color
  .comment__info
    color: $text-color
    display: flex
    justify-content: space-between
    &:hover 
      .comment__nav
        visibility: visible 
    &>*
      display: flex
      margin: 2px 0
    .comment__createTime
      color: rgba($text-color, .5)
      margin-left: 10px
      &::after
        content: ' ago'
    .comment__nav
      color: rgba($text-color, .5)
      visibility: hidden
  
.comment__content
  display: flex
  align-items: flex-start
  &>*
    margin-right: 5px
    margin-top: 5px
  i
    color: $primary-color
  .comment__time
    color: $primary-color
    font-weight: 500
    display: flex
    align-items: center
    padding: 2px
    border-radius: 1px
    margin-right: 5px
    margin-top: 2px
    i
      margin-left: 2px
  .comment__category
    color: rgba($text-color, .5)
    &::before
      content: ' #'
  .comment__text
    width: 50%
    color: $text-color
    word-wrap: break-word

.comment__social
  display: flex
  width: 100%
  margin-top: 10px
  & * 
    color: rgba($text-color, .5)
    font-size: 16px
    vertical-align: middle
  .social__btn
    margin-right: 10px
  .isLike
    color: $primary-color
    
.comment__edit
  margin-top: 10px
  width: 100%
  .input-text
    background: $background-color
    border: 1px solid $primary-color
    width: 90%
    margin-bottom: 20px
    color: $text-color
  .edit__nav
    width: 90%
    text-align: right
    button
      display: inline-block
      font-size: 15px
      color: $primary-color
    div
      display: inline-block
      color: rgba($text-color, .7)

@media all and (max-width: 720px)
  .comments
    +size(100%, auto)
    position: relative
    bottom: 0
    background: $surface-color
    
