@import '../../style.sass'

.course 
  position: absolute
  width: 70%
  top: 50px
  margin: 20px
  display: flex
  flex-direction: column
  align-items: center
.video
  width: 80%
.video__timeline
  width: 100%
  height: 20px
  background: $surface-color